html,
*,
*::before *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #faf4ff;
}

.image.selected {
  border: 2px solid #007bff;
}

.selected-count {
  margin-bottom: 10px;
  font-weight: bold;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  grid-auto-flow: dense;
}
/* Media query for mobile view */
@media (max-width: 485px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
.image {
  position: relative;
  max-width: initial;
  cursor: pointer;
}

.img-active {
  filter: brightness(50%);
  background: #1a05057d;
}

img {
  border: 1px solid #ffe5e5;
  border-radius: 10px;
  flex: 1 1;
  max-width: 100%;
  object-fit: cover;
}
img:hover {
  opacity: 0.3;
}

.gallery .large-image {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery-area {
  padding: 3%;
  background: #fff;
  margin: 2%;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  z-index: 999;
  top: 10px;
}

.selected {
  border: 2px solid #007bff;
}
.navbar {
  padding: 20px 20px 20px 40px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 15px;
  background: #c4423f;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  box-shadow: 0 0 10px rgb(220 31 31 / 40%);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}
button:hover {
  box-shadow: none;
  cursor: pointer;
}

.box {
  text-align: center;
  padding: 10px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.upload {
  display: flex;
  flex-direction: column;
  max-width: initial;
  cursor: pointer;
  border-radius: 10px;
  border: dashed 2px #ffe5e5;
}

.image input {
  display: none;
}
.image:hover input {
  display: block;
}

.input-active {
  display: block !important;
}
